.container {
  width: 100%;
}
.breadcrumb {
    width: 50%;
    list-style: none;
    display: flex;
    padding: 100px 0 0;
    margin: auto;
  }
  
  .breadcrumb li + li:before {
    content: ">";
    padding: 0 8px;
    color: gray;
  }
  
  .breadcrumb a {
    text-decoration: none;
    color: #3ec75c;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  